.challenge-container{
    display: flex;
    flex-direction: column;
    background: white;
}

.challenge-wrapper{
    background: #244a64;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 100%;
    flex-direction: row;
}

.using-tech{
    width: 480px;
    height: 300px;
    border-radius: 1rem;
    opacity: 0;
    transform: translateX(25%);
    transition: all ease 1.25s;
    margin-left: 1rem;
}

.using-tech.visible {
    opacity: 1;
    transform: translateX(0);
}

.challenge-stats-container{
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 80%;
    min-height: 14rem;
    -moz-box-shadow: 0px 5px 150px #000000;
    -webkit-box-shadow: 0px 5px 150px #000000;
    box-shadow: 0px 5px 75px #000000;
    border-radius: 14px 75px 75px 14px;
    margin: -4rem auto 0 auto;
    padding: 1rem;
}

.stat-div {
    margin: 0 auto;
    text-align: center;
    width: 20rem;
}

.stat-header {
    font-size: 2.5rem;
    font-family: ubuntu-bold;
    color: #000000;
}

.header-underline {
    width: 2rem;
    height: 0.5rem;
    background-color: #244a64;
    border-radius: 1rem;
    margin: 1rem auto;
}

.stat-content {
    font-size: 1.5rem;
    font-family: ubuntu-medium;
    color: #000000;
}

.stat-underline {
    display: none;
}

.mission-wrapper{
    opacity: 0;
    transition: opacity ease 1.25s;
    max-width: 38vw;
    display: flex;
    flex-direction: column;
}

.mission-heading{
    font-family: ubuntu-bold;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 4px 40px #000000;
    margin-bottom: 2rem;
}

.mission-statement{
    font-family: ubuntu-medium;
    font-size: 1.5rem;
    color: #fff;
}

.mission-wrapper.visible{
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    
    .using-tech{
        display: none;
    }

    .mission-wrapper {
        max-width: fit-content;
        padding: 0 2rem;
    }

    .mission-heading {
        font-size: 3.5rem;
        text-align: center;
    }

    .mission-statement {
        font-size: 1.3rem;
        text-align: center;
    }

    .stat-header {
        font-size: 2rem;
    }

    .stat-content {
        font-size: 1rem;
    }

}

@media screen and (max-width: 750px) {
    
    .challenge-stats-container {
        width: 100%;
        border-radius: 0;
        margin: 0;
        margin-top: 3rem;
        height: fit-content;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    .stat-div {
        margin: 2rem auto;
    }

    .stat-underline {
        width: 85%;
        margin: 0 auto;
        height: 2px;
        display: initial;
        display: block;
        background-color: #244a64;
    }

}