.challenge-container{
    display: flex;
    flex-direction: column;
    background: white;
    color: #2585BB;
    width: 100%;
}

.challenge-wrapper{
    background: white;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
}

.using-tech{
    width: 800px;
    opacity: 0;
    transform: translateX(25%);
    transition: all ease 1.25s;
    margin-left: 1rem;
    width: 480px;
    height: 300px;
    border-radius: 1rem;
    opacity: 0;
    transform: translateX(25%);
    transition: all ease 1.25s;
    margin-left: 1rem;
}

.using-tech.visible {
    opacity: 1;
    transform: translateX(0);
}


.stat-div {
    margin: 0 auto;
    text-align: center;
    width: 20rem;
}

.stat-header {
    font-size: 2.5rem;
    font-family: ubuntu-bold;
    color: #000000;
}

.header-underline {
    width: 2rem;
    height: 0.5rem;
    background-color: #244a64;
    border-radius: 1rem;
    margin: 1rem auto;
}

.stat-content {
    font-size: 1.5rem;
    font-family: ubuntu-medium;
    color: #000000;
}

.stat-underline {
    display: none;
}

.mission-wrapper{
    opacity: 0;
    transition: opacity ease 1.25s;
    max-width: 38vw;
    display: flex;
    flex-direction: column;
}

.init-mission-heading{
    font-family: nunito-black;
    font-size: 4rem;
    color: #2585BB;
    margin-bottom: 2rem;
}

.init-mission-statement{
    font-family: nunito-extra-bold;
    font-size: 1.6rem;
    color: #2585BB;
}

.mission-wrapper.visible{
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    /* .using-tech {
        display: none;
    } */

    .init-mission-heading {
        font-size: 3rem;
    }

    .init-mission-statement {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 900px) {
    .using-tech {
        display: none;
    }

    .challenge-container {
        width: 100%;
        /* margin: 0 auto; */
        /* display: flex;
        align-items: center; */
        text-align: center;
    }

    .challenge-wrapper {
        height: fit-content;
        width: fit-content;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .mission-wrapper.visible {
        text-align: center;
        height: fit-content;
        width: 100%;
        margin: 4rem 0 0 0;
    }

    
    .init-mission-statement {
        font-size: 1.5rem;
        width: 100%;
    }

}

@media screen and (max-width: 750px) {
    
    .challenge-stats-container {
        width: 100%;
        border-radius: 0;
        margin: 0;
        margin-top: 3rem;
        height: fit-content;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    .stat-div {
        margin: 2rem auto;
    }

    .stat-underline {
        width: 85%;
        margin: 0 auto;
        height: 2px;
        display: initial;
        display: block;
        background-color: #244a64;
    }

}