.mission-container {
    width: 100%;
}

.support-us-header {
    height: 20rem;
    background: #244a64;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-us-title {
    color: #ffffff;
    font-family: ubuntu-bold;
    font-size: 4rem;
    opacity: 0;
    transition: opacity ease 1.25s;
}

.support-us-title.visible {
    opacity: 1;
}

.mission-content {
    font-family: ubuntu-bold;
    color: #3e69dc;
    width: fit-content;
    margin: 10rem auto;
    opacity: 0;
    transform: translateY(50%);
    transition: all ease 1.25s;
}

.mission-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.mission-title {
    font-family: ubuntu-bold;
    color: #000;
    font-size: 3rem;
}

.mission-body {
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: ubuntu-medium;
    color: #3e69dc;
}

.outreach-email {
    text-decoration: underline;
    cursor: pointer;
}

.outreach-email:hover {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {

    .support-us-title {
        font-size: 3rem;
    }

    .mission-content {
        margin: 9rem auto;
    }

    .mission-title {
        font-size: 2rem;
    }
    .mission-body {
        margin-top: 1rem;
        line-height: 2rem;
        font-size: 1.2rem;
        font-family: ubuntu-medium;
        color: #3e69dc;
    }

}

@media screen and (max-width: 800px) {

    .mission-content{
        text-align: center;
        padding: 1rem;
    }

}