:root {
    --primary: #fff;
    --text: #44bfd2;
}

.btn{
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    font-family: ubuntu-bold;
    -moz-box-shadow: 0px 0px 18px #000000;
    -webkit-box-shadow: 0px 0px 18px #000000;
    box-shadow: 0px 0px 18px #000000;
    border: none;
    cursor: pointer;
}

.btn-mobile {
    outline: none;
}

.btn--primary {
    background-color: var(--primary);
    color: #1d5d6d;
}

.btn--outline {
    background-color: transparent;
    color: #1d5d6d;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px
}

.btn--large {
    padding: 8px 26px;
    font-size: 1.5rem;
    align-items: center;
    justify-items: center;
    width: 15rem;
    height: 3rem;
    transition: all 0.3s ease-out;
}

.btn--medium:hover, .btn--large:hover {
    background: var(--text);
    color: #fff;
}